---
import Layout from '../../layouts/MainLayout.astro';
import Header from '../../components/Header.astro';
import FeatureCard from '../../components/FeatureCard.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import { languages } from '../../i18n/ui';
import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const servicesEntries = await getCollection('services');
  return Object.keys(languages).map((lang) => {
    const entry = servicesEntries.find((entry: CollectionEntry<'services'>) => entry.slug === lang);
    return {
      params: { locale: lang },
      props: { entry }
    };
  });
}

interface Props {
  entry: CollectionEntry<'services'>;
}

const { entry } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { Content } = await entry.render();

const services = [
  {
    icon: "fas fa-calendar-alt",
    title: t('footer.services.1'),
    description: "Organizamos talleres, conferencias y eventos de networking para fomentar la colaboración y el consenso entre diversos actores."
  },
  {
    icon: "fas fa-handshake",
    title: t('footer.services.2'),
    description: "Brindamos asesoría técnica, legal y en políticas públicas a nivel internacional, regional y nacional."
  },
  {
    icon: "fas fa-search",
    title: t('footer.services.3'),
    description: "Realizamos investigaciones, evaluaciones e informes orientados a la acción para impulsar el desarrollo sostenible."
  },
  {
    icon: "fas fa-graduation-cap",
    title: "Desarrollo de Capacidades",
    description: "Diseñamos programas de formación para fortalecer capacidades locales a largo plazo."
  },
  {
    icon: "fas fa-users",
    title: "Alianzas Estratégicas",
    description: "Creamos entornos propicios para alianzas estratégicas y asociaciones empresariales."
  },
  {
    icon: "fas fa-cogs",
    title: "Implementación",
    description: "Acompañamos el diseño y ejecución de iniciativas de desarrollo y políticas públicas."
  }
];
---

<Layout 
  title={t('nav.services')}
  description="Services"
>
  <Header class="mx-auto w-full z-50" textColorNav="primary" />

  <main class="pt-10">
    <section class="mt-20 mb-12 bg-primary/10 max-w-6xl mx-auto">
      <div class="container md:py-8 mx-auto sm:px-4">
        <div class="flex flex-wrap">              
          <div class="md:w-3/4 p-6">
            <h1 class="text-primary uppercase border-l-4 border-secondary tracking-wider py-6 p-10">
              {t('nav.services')}
            </h1>
          </div>
        </div>
      </div>
    </section>

    <div class="container mx-auto px-4 max-w-6xl">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {services.map(service => (
          <FeatureCard
            icon={service.icon}
            title={service.title}
            description={service.description}
          />
        ))}
      </div>
    </div>

    <article class="container px-2 lg:px-10 prose lg:prose-xl mx-auto max-w-5xl prose-headings:text-primary prose-headings:font-normal prose-headings:text-3xl mt-12">
      <Content />
    </article>
  </main>
</Layout>

<style>
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
</style>

