---
import "../styles/global.css";
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import FeatureCard from '../components/FeatureCard.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout 
  title="Tu Sitio Web"
  description="Descripción de tu sitio web"
>
<Header class="mx-auto w-full z-50 text-white" />
<main class="z-0 overflow-x-hidden mx-auto">

	<!-- Banner -->
	  <section id="banner" class="min-h-screen z-0 rellax overflow-y-hidden">
		<div class="centrear z-30 text-white" >
		  
		  <div class="h-60 w-96 mx-auto rellax" data-rellax-speed="-4">
			<svg id="izq" class="mix-blend-multiply fill-primary h-full w-full absolute sombra-x2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 100">
				  <circle fill-opacity="0.2" stroke="#fff" cx="50" cy="50" r="49" stroke-width="1.5" />          
			</svg>
			<svg id="der" class="mix-blend-multiply fill-secondary h-full w-full absolute sombra-x2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 100">
				  <circle fill-opacity="0.2" stroke="#fff" cx="110" cy="50" r="35" stroke-width="1.5" />
			</svg>
			<div class="centerar text-white">
			  <div class="absolute top-1/2 -translate-y-1/2 text-3xl ml-5">
				<span class="commons">commons</p>
			  </div>
			  <div class="absolute right-1/4 top-1/2 -translate-y-1/2 text-3xl">
				<span class="all">all</p>
			  </div>
			  <div class="absolute left-1/2 top-1/2 -translate-y-1/2 text-5xl">
				<span class="letter four">4</p>
			  </div>
			</div>
		  </div>
	
		  <h3 class="text-center text-light pt-4 rellax" data-rellax-speed="-4">
			Mobilizing transformational ideas
		  </h3>
		  <div class="scroll-icon mt-12 rellax" data-rellax-speed="-4">
			  <a class="scrollTo" data-scrollTo="portfolio" href="#">
				<img class="mx-auto" src="#" alt="">
				
			  </a>
		  </div>
		</div>
		  
		<div class="absolute top-0 left-0 w-full h-full object-cover bg-primary/30 z-20"></div>

		<!-- Video de fondo -->
		<video class="video z-10" autoplay loop muted playsinline>
			<source src="/videos/pexels-rodnae-productions-8083050.mp4" type="video/mp4">
		</video>
		<!-- Fin video -->
	  </section>

	  <section class="z-10 max-w-6xl mx-auto px-4">
		<!-- Who we are? -->
		<div class="lg:container mx-auto items-center z-10">
	  
			<div class="flex flex-wrap pt-32 pb-5">      
			  <div class="md:w-1/3">
				<h2 class="text-primary border-l-4 border-secondary tracking-wider p-6 m-1 uppercase text-2xl md:text-3xl font-light">We build on heritage through innovation</h2>
			  </div>  
			  <div class="md:w-2/3 px-6 flex">
				<h4 class="m-auto text-lg leading-relaxed opacity-90">We are a network of experienced professionals from diverse backgrounds, leveraging technology, innovation, and collaboration to bridge critical gaps. Our mission is to develop tailored solutions that drive progress, stability, and resilience, while fostering common sense and honoring heritage, and building lasting relationships.</h4>
			  </div>
			</div>
		</div>
	  
		<div class="divider mb-10 border-t border-gray-200/20"></div> 
	  
		<!-- FEATURES 1 Services -->
		<div id="services" class="space-y-32">
		  
		  <FeatureCard
        title="Creativity"
        imageUrl="/images/creativity.png"
        imageAlt="Creativity"
      />
    
      <FeatureCard
        title="Connectivity"
        imageUrl="/images/connectivity.png"
        imageAlt="Connectivity"
        reverseLayout={true}
      />
    
      <FeatureCard
        title="Collaboration"
        imageUrl="/images/collaboration.png"
        imageAlt="Collaboration"
      />
    
      <FeatureCard
        title="Capacity building"
        imageUrl="/images/capacity_building2.png"
        imageAlt="Capacity building"
        reverseLayout={true}
      />
		
		</div>
	  
	  </section>
  </main>
</Layout> 

<script>

// Importaciones
import anime from "animejs";
import Rellax from "rellax";
import jQuery from "jquery";
const $ = jQuery;

document.addEventListener("DOMContentLoaded", function () {
  // Inicialización de Rellax
  const rellax = new Rellax(".rellax");

  const homeSection = $("#banner");
  const navbar = $("nav");
  let navChange = false;
  const navHeight = navbar.height() || 0;

  window.addEventListener('scroll', () => {
    effectsHomeSection(homeSection, window);
  });

  function effectsHomeSection(homeSection: JQuery<HTMLElement>, scrollTopp: any): void {
	
    if (homeSection.length > 0) {
	
      const homeSHeight = homeSection.height() || 0;
		
      if (homeSHeight - navHeight <= $(scrollTopp).scrollTop()!) {
        if (!navChange) {
          requestAnimationFrame(() => {
            navbar.addClass("!bg-primary");
            navChange = true;
          });
        }
      } else {
        if (navChange) {
          requestAnimationFrame(() => {
            navbar.removeClass("!bg-primary");
            navChange = false;
          });
        }
      }
    }
  }

  // Animaciones con anime.js
  const tl = anime.timeline({
    easing: "easeOutExpo",
  });

  tl.add({
    targets: "#izq",
    translateX: ["-200%", 0],
    duration: 4000,
  });

  tl.add(
    {
      targets: "#der",
      translateX: ["200%", 0],
      duration: 4000,
    },
    "-=4000"
  );

  const textcommons = document.querySelector('.commons');
  const textall = document.querySelector('.all');

  if (textcommons && textall) {
    textcommons.innerHTML = textcommons.textContent?.replace(/\S/g, "<span class='letter'>$&</span>") || '';
    textall.innerHTML = textall.textContent?.replace(/\S/g, "<span class='letter'>$&</span>") || '';
  }

  const tl2 = anime.timeline();
  tl2.add({
    targets: '.commons .letter',
    translateX: [-400,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 3500,
    delay: (_el: any, i: number) => 500 - 60 * i
  });

  tl2.add({
    targets: '.all .letter',
    translateX: [+400,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 3500,
    delay: (_el: any, i: number) => -500 + 60 * i
  }, "-=3500");

  tl2.add({
    targets: '.four',
    translateZ: 0,
    opacity: [0,1],
    scale: [0,1],
    easing: "easeOutExpo",
    duration: 3000
  },"-=2000");
});



</script>