---
const currentYear = new Date().getFullYear();

interface Service {
  title: string;
  url: string;
}

const services: Service[] = [
  { title: "Desarrollo Web", url: "/servicios/desarrollo-web" },
  { title: "Diseño UI/UX", url: "/servicios/diseno-ui-ux" },
  { title: "Marketing Digital", url: "/servicios/marketing-digital" }
];
---

<footer class="p-4 bg-dark sm:p-6">
  <div class="md:flex md:justify-between">
    <div class="mb-6 md:mb-0 px-6">
      <a href="/" class="flex flex-col lg:flex-row items-center text-brand-light">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-16 mx-auto sombra-x2" viewBox="0 0 150 110">
          <circle cx="49.8" cy="49.8" r="49" fill="none" stroke="currentColor" stroke-width="4"/>
          <circle cx="109.8" cy="49.8" r="35" fill="none" stroke="currentColor" stroke-width="4"/>
          <path stroke="currentColor" stroke-width="4" d="m84 26 12 7m-17 0 19 12M78 64l15 9M75 52l21 13M76 42l23 13"/>
        </svg>
        <span class="pl-4 text-lg whitespace-nowrap">commons4all.org</span>
      </a>
    </div>
    <div class="grid grid-cols-2 gap-8 sm:gap-10 sm:grid-cols-3">
      <div>
        <h2 class="mb-6 text-sm text-darkAccent uppercase">Servicios</h2>
        <ul class="text-brand-light">
          {services.map((service) => (
            <li class="mb-4">
              <a href={service.url} class="hover:underline">{service.title}</a>
            </li>
          ))}
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm text-darkAccent uppercase">Organización</h2>
        <ul class="text-brand-light">
          <li class="mb-4">
            <a href="/nosotros" class="hover:underline">Sobre nosotros</a>
          </li>
          <li>
            <a href="/contacto" class="hover:underline">Contacto</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm text-darkAccent uppercase dark:text-white">Legal</h2>
        <ul class="text-brand-light">
          <li class="mb-4">
            <a href="/privacidad" class="hover:underline">Política de Privacidad</a>
          </li>
          <li>
            <a href="/terminos" class="hover:underline">Términos y Condiciones</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
  <div class="sm:flex sm:items-center sm:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
      © {currentYear} <a href="/" class="hover:underline">magoreal™</a>. Todos los derechos reservados.
    </span>
  </div>
</footer> 