---
import { languages } from '../i18n/ui';
import { getLangFromUrl } from '../i18n/utils.ts';

const currentPath = Astro.url.pathname;
const currentLang = getLangFromUrl(Astro.url);
const path = currentPath.replace(`/${currentLang}`, '');
---

<div class="language-picker flex items-center">
  <ul class="flex space-x-2">
    {Object.entries(languages).map(([lang, label]) => (
      <li>
        <a 
          href={`/${lang}${path}`}
          class={`px-2 py-1 rounded-md text-sm transition-colors duration-300 hover:text-accent ${currentLang === lang ? 'text-accent' : 'text-white'}`}
        >
          {label}
        </a>
      </li>
    ))}
  </ul>
</div>

<style>
.language-picker {
  position: relative;
}

.language-picker a {
  text-decoration: none;
  font-weight: 500;
}

.language-picker a:hover {
  text-decoration: none;
}
</style>