---

import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
  canonicalUrl?: string;
}

const { title, description, canonicalUrl } = Astro.props;
---

<!DOCTYPE html>
<html lang="es" data-theme="commons4all-light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}
    
    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    
  </head>

  <body class="font-poppins bg-logo">
    <div id="loading" class="absolute inset-0 flex items-center justify-center bg-lightShades z-0">
      <button class="btn btn-brand loading">loading</button>
    </div>

    <slot />

    <Footer />

    <script>
      // Script para remover la pantalla de carga
      document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function(){
          document.getElementById('loading')?.remove();
        }, 1000);
      });
    </script>
  </body>
</html> 